
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<ul class="list-group mb-3">
  <h3>Reviews:</h3>
  <% @restaurant.reviews.each do |review| %>
  <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>

<%= link_to "Go back to restaurants", restaurants_path  %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant)  %>
